#shopping-container {
    max-width: 80em;
    margin: auto;

    #page-title {
        text-align: center;
    }
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#flower-list-container {
    box-sizing: border-box;

    .flower-container {
        display: inline-block;
        width: 33.33%;

        padding: 20px 30px 0 30px;
        cursor: pointer;

        .flower-selected {
            border: 2px solid gold;
            padding: 0 !important;

            .flower-price {
                // prevent prices from hopping around on selection
                bottom: -12px !important;
            }
        }

        .flower-title {
            text-align: left;
            margin: 0;
            padding: 4px 0;
        }

        .flower-img-container {
            text-align: center;
            position: relative;
            padding: 2px; // When border is visible on flower selection, image won't be re-sized.

            .flower-img {
                display: block;
                width: 100%;
                padding: 0;
            }

            .flower-price {
                position: absolute;
                bottom: -10px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;

                text-align: center;
                font-size: 1.2em;
                opacity: 0;
                transition: opacity .5s;
            }

            &:hover {
                .flower-price {
                    opacity: 1;
                    transition: opacity 1s;
                }
            }
        }
    }

}

#shopping-basket-container {

    #shopping-basket-deliveries-container {
        width: 100%;
        margin: 2em 0;
        text-align:center;

        .shopping-basket-slider {
            width: 30em;
        }
    }

    #shopping-basket-total-cost {
        width: 100%;
        text-align:center;
        margin: 1em 0;

        p {
            display: block;
            width: 100%;
            font-size: 2em;
            margin: 0;
        }
    }
}


/* Very Minor Slider Styling */

.bar {
    background: gold !important;
}