<h1 id="page-title">{{flowerCollectionType}}</h1>

<div id="flower-list-container">

    <shopping-item ng-repeat="flower in flowerCollection | limitTo: 6" flower="flower"></shopping-item>

</div>

<div id="shopping-basket-container">
    <div id="shopping-basket-deliveries-container">
        <p>Total Deliveries: {{deliveries}}</p>

        <slider class="shopping-basket-slider" floor="1" ceiling="10" step="1" precision="1" ng-model="deliveries"></slider>
    </div>

    <div id="shopping-basket-total-cost">
        <p>Total Price:</p>
        <p>£{{basket.getTotalCost()}}</p>
    </div>

</div>
